
/build/
app.exe
unit-tests.exe

*.o
*.obj
*.out


googletest/

*.swp      # Vim
*.suo      # Visual Studio
*.user     # Visual Studio
*.DS_Store # macOS


.vscode/               # VS Code
.idea/                 # JetBrains CLion, PyCharm
cmake-build-debug/     # CLion


venv/                  # Виртуальное окружение Python
pycache/           # Кешированные файлы Python
*.pyc                  # Скомпилированные Python-файл# Игнорировать артефакты сборки
/build/
app.exe
unit-tests.exe


