# Игнорировать артефакты сборки
/build/
app.exe
unit-tests.exe

# Игнорировать папку или симлинк с googletest
googletest/

# Игнорировать IDE и другие временные файлы (если они есть)
*.swp
*.suo
*.user
*.DS_Store
